.testimonials__subtext {
  text-align: center;
}

.testimonials__item {
  width: 480px;
  height: 220px;
  border-radius: 9px;
  background: #ebf4ff;
  padding-top: 35px;
  padding-left: 30px;
  flex: 0 0 auto;
  box-shadow: 0px 4px 20px 0px rgb(14 14 14 / 10%);

  @include respond(530) {
    font-size: 16px;
    width: 296px;
    height: 193px;
  }
}

.testimonials__list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 30px;
  padding-top: 70px;
  overflow-x: auto;
  overflow-y: visible;
  position: relative;
  z-index: 1;

  @include respond(740) {
    padding-left: 0;
  }
}

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;

  @include respond(530) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.testimonials__name {
  margin-top: 0;
}
